<footer class="site-footer h-card" style="padding:0px; padding-top:10px;">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <div class="social-links">
                    {%- include social.html -%}
                </div>
            </div>
            <div class="footer-col">
                Say no to unnecessary data collection. There are no cookies or trackers here. 🍪🗑️
            </div>
        </div>
    </div>
</footer>